[ColorScheme]
active_colors=#ff{{fg_hex}}, #ff{{bg_light_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{fg_hex}}, #ff{{fg_hex}}, #ff{{fg_hex}}, #ff{{bg_hex}}, #ff{{bg_hex}}, #ff000000, #ff{{accent_hex}}, #ff{{bg_hex}}, #ff{{secondary_hex}}, #ff{{secondary_hex}}, #ff{{bg_dark_hex}}, #ff000000, #ff000000, #ff{{fg_hex}}, #80{{fg_hex}}
disabled_colors=#78{{fg_hex}}, #ff{{bg_light_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #78{{fg_hex}}, #ff{{fg_hex}}, #78{{fg_hex}}, #ff{{bg_hex}}, #ff{{bg_hex}}, #ff000000, #ff{{accent_hex}}, #66{{fg_hex}}, #ff{{secondary_hex}}, #ff{{secondary_hex}}, #ff{{bg_dark_hex}}, #ff000000, #ff000000, #ff{{fg_hex}}, #80{{fg_hex}}
inactive_colors=#ff{{fg_hex}}, #ff{{bg_light_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{bg_dark_hex}}, #ff{{fg_hex}}, #ff{{fg_hex}}, #ff{{fg_hex}}, #ff{{bg_hex}}, #ff{{bg_hex}}, #ff000000, #ff{{accent_hex}}, #ff{{bg_hex}}, #ff{{secondary_hex}}, #ff{{secondary_hex}}, #ff{{bg_dark_hex}}, #ff000000, #ff000000, #ff{{fg_hex}}, #80{{fg_hex}}
