.config/git/config
.local/share/icons/hicolor/
.config/fish/conf.d/mcp-env.fish
.config/kilo/package-lock.json
.config/opencode/package-lock.json
node_modules
fish_variables
.config/tmux/.tmux/plugins/tpm
.commandcode
__pycache__
.antigravitycli
.config/quickshell/osd/state.json
.config/quickshell/battery_popup/history.json
.config/gtk-3.0/bookmarks