[Settings]
gtk-theme-name=wabi
gtk-icon-theme-name={{gtk_icon_theme}}
gtk-font-name=FiraCode Nerd Font 9
gtk-cursor-theme-name=capitaine-cursors
gtk-cursor-theme-size=24
gtk-application-prefer-dark-theme={{gtk_prefer_dark}}
