* {
  all: unset;
  font-family: "FiraCode Nerd", monospace;
  color: #efe0d6;
  font-weight: bold;
  font-size: 9pt;
}

.window {
  border-radius: 0px;
  background-color: #19120c;
  border: solid 2px #51443b;
  margin: 2px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

tabs {
  padding: 0.4rem 0.6rem;
  border-bottom: 1px solid #51443b;
}

tabs > tab {
  margin-right: 0.8rem;
  padding: 2px 4px;
}

.tab-label {
  color: #d6c3b6;
  transition: all 0.15s ease-in-out;
}

tabs > tab:checked > .tab-label, tabs > tab:active > .tab-label {
  color: #ffb77b;
  border-bottom: 2px solid #ffb77b;
}

tabs > tab:hover > .tab-label {
  color: #efe0d6;
}

.page {
  padding: 0.6rem;
}

.image-label {
  font-size: 8pt;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  color: #efe0d6;
  font-weight: 500;
}

flowboxchild > .card, button > .card {
  transition: all 0.15s ease-in-out;
  border: solid 1px transparent;
  border-color: #261e18;
  border-radius: 0px;
  background-color: #261e18;
  padding: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

flowboxchild:hover > .card, button:hover > .card {
  background-color: #51443b;
  border-color: #51443b;
}

flowboxchild:active > .card, flowboxchild:selected > .card, button:active > .card, button:selected > .card, button:focus > .card {
  border: solid 1px #ffb77b;
  background-color: #51443b;
}

.image {
  border-radius: 0px;
}

.region-button {
  padding: 0.4rem 0.8rem;
  border-radius: 0px;
  background-color: #ffb77b;
  color: #19120c;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}

.region-button:not(:disabled):hover, .region-button:not(:disabled):focus {
  background-color: #e3c0a5;
  color: #261e18;
}

.region-button:disabled {
  background-color: #51443b;
  color: #d6c3b6;
  opacity: 0.6;
}

.restore-button {
  padding: 0.3rem;
  color: #d6c3b6;
}
