* {
  all: unset;
  font-family: "FiraCode Nerd", monospace;
  color: #e8e2d4;
  font-weight: bold;
  font-size: 9pt;
}

.window {
  border-radius: 0px;
  background-color: #15130b;
  border: solid 2px #4b4739;
  margin: 2px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

tabs {
  padding: 0.4rem 0.6rem;
  border-bottom: 1px solid #4b4739;
}

tabs > tab {
  margin-right: 0.8rem;
  padding: 2px 4px;
}

.tab-label {
  color: #cdc6b4;
  transition: all 0.15s ease-in-out;
}

tabs > tab:checked > .tab-label, tabs > tab:active > .tab-label {
  color: #dac66f;
  border-bottom: 2px solid #dac66f;
}

tabs > tab:hover > .tab-label {
  color: #e8e2d4;
}

.page {
  padding: 0.6rem;
}

.image-label {
  font-size: 8pt;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  color: #e8e2d4;
  font-weight: 500;
}

flowboxchild > .card, button > .card {
  transition: all 0.15s ease-in-out;
  border: solid 1px transparent;
  border-color: #222017;
  border-radius: 0px;
  background-color: #222017;
  padding: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

flowboxchild:hover > .card, button:hover > .card {
  background-color: #4b4739;
  border-color: #4b4739;
}

flowboxchild:active > .card, flowboxchild:selected > .card, button:active > .card, button:selected > .card, button:focus > .card {
  border: solid 1px #dac66f;
  background-color: #4b4739;
}

.image {
  border-radius: 0px;
}

.region-button {
  padding: 0.4rem 0.8rem;
  border-radius: 0px;
  background-color: #dac66f;
  color: #15130b;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}

.region-button:not(:disabled):hover, .region-button:not(:disabled):focus {
  background-color: #d1c6a2;
  color: #222017;
}

.region-button:disabled {
  background-color: #4b4739;
  color: #cdc6b4;
  opacity: 0.6;
}

.restore-button {
  padding: 0.3rem;
  color: #cdc6b4;
}
