* {
    bg0:     #12140e80;
    bg1:     #1e201a;
    fg:      #e2e3d8;
    fg1:     #c5c8b9;
    grey1:   #c5c8b9;
    grey2:   #44483d;
    blue:    #c0cbac;
    green:   #b3d089;
    accent:  #b3d089;
}
