* {
    bg0:     #11140f80;
    bg1:     #1d211a;
    fg:      #e1e4d9;
    fg1:     #c3c8bb;
    grey1:   #c3c8bb;
    grey2:   #43483e;
    blue:    #bccbb0;
    green:   #a9d292;
    accent:  #a9d292;
}
