* {
    bg0:     #11140f80;
    bg1:     #1d211b;
    fg:      #e0e4da;
    fg1:     #c2c8bc;
    grey1:   #c2c8bc;
    grey2:   #42493f;
    blue:    #bbccb2;
    green:   #a4d397;
    accent:  #a4d397;
}
