* {
    bg0:     {{bg}}80;
    bg1:     {{bg_dark}};
    fg:      {{fg}};
    fg1:     {{fg_light}};
    grey1:   {{fg_light}};
    grey2:   {{bg_light}};
    blue:    {{secondary}};
    green:   {{accent}};
    accent:  {{accent}};
}
