configuration {
    modi: "drun,recents:~/.config/rofi/scripts/recents,noti:~/.config/rofi/scripts/notif_center,profile:~/.config/rofi/scripts/profile,sunset:~/.config/rofi/scripts/sunset,clip:~/.config/rofi/scripts/cliphist,ports:~/.config/rofi/scripts/ports_menu";
    show-icons: false;
    display-drun: "";
    drun-display-format: "{name}";
    font: "FiraCode Nerd Font 8";
    sort: true;
    sorting-method: "fzf";
}

@theme "~/.config/rofi/theme.rasi"
