configuration {
    modi: "drun,recents:~/.config/rofi/scripts/recents.sh,noti:~/.config/rofi/scripts/notif-center.sh,power:~/.config/rofi/scripts/power-menu.sh,profile:~/.config/rofi/scripts/profile.sh,sunset:~/.config/rofi/scripts/sunset.sh,clip:~/.config/rofi/scripts/cliphist.sh";
    show-icons: false;
    display-drun: "";
    drun-display-format: "{name}";
    font: "FiraCode Nerd Font 9";
    sort: true;
    sorting-method: "fzf";
}

@theme "~/.config/rofi/theme.rasi"
