{
    "automation_enabled": true,
    "low_battery_threshold": 25,
    "low_battery_profile": "Quiet",
    "bat_profile": "Balanced",
    "ac_profile": "Performance",
    "bat_screen_brightness": 70,
    "bat_kbd_brightness": 33,
    "ac_screen_brightness": 100,
    "ac_kbd_brightness": 100,
    "low_profile": "Quiet",
    "low_screen_brightness": 30,
    "low_kbd_brightness": 0
}