import QtQuick

QtObject {
    id: colors
    readonly property color bg: "{{bg}}"
    readonly property color bg_dark: "{{bg_dark}}"
    readonly property color bg_light: "{{bg_light}}"
    readonly property color fg: "{{fg}}"
    readonly property color fg_light: "{{fg_light}}"
    readonly property color accent: "{{accent}}"
    readonly property color secondary: "{{secondary}}"
    readonly property color tertiary: "{{tertiary}}"
    readonly property color error: "{{error}}"
}
