* {
  all: unset;
  font-family: "FiraCode Nerd", monospace;
  color: #dee4de;
  font-weight: bold;
  font-size: 9pt;
}

.window {
  border-radius: 0px;
  background-color: #0f1512;
  border: solid 2px #404944;
  margin: 2px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

tabs {
  padding: 0.4rem 0.6rem;
  border-bottom: 1px solid #404944;
}

tabs > tab {
  margin-right: 0.8rem;
  padding: 2px 4px;
}

.tab-label {
  color: #bfc9c2;
  transition: all 0.15s ease-in-out;
}

tabs > tab:checked > .tab-label, tabs > tab:active > .tab-label {
  color: #8cd5b4;
  border-bottom: 2px solid #8cd5b4;
}

tabs > tab:hover > .tab-label {
  color: #dee4de;
}

.page {
  padding: 0.6rem;
}

.image-label {
  font-size: 8pt;
  padding: 0.2rem 0.1rem 0.1rem 0.1rem;
  color: #dee4de;
  font-weight: 500;
}

flowboxchild > .card, button > .card {
  transition: all 0.15s ease-in-out;
  border: solid 1px transparent;
  border-color: #1b211e;
  border-radius: 0px;
  background-color: #1b211e;
  padding: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

flowboxchild:hover > .card, button:hover > .card {
  background-color: #404944;
  border-color: #404944;
}

flowboxchild:active > .card, flowboxchild:selected > .card, button:active > .card, button:selected > .card, button:focus > .card {
  border: solid 1px #8cd5b4;
  background-color: #404944;
}

.image {
  border-radius: 0px;
}

.region-button {
  padding: 0.4rem 0.8rem;
  border-radius: 0px;
  background-color: #8cd5b4;
  color: #0f1512;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}

.region-button:not(:disabled):hover, .region-button:not(:disabled):focus {
  background-color: #b3ccbe;
  color: #1b211e;
}

.region-button:disabled {
  background-color: #404944;
  color: #bfc9c2;
  opacity: 0.6;
}

.restore-button {
  padding: 0.3rem;
  color: #bfc9c2;
}
